#title{}
body{
  background-color: #a2aaad;
}
header{
  background-color: #881c1c;
}
#buttonarea{}
#VerifMode, #ReccomMode, #ContribMode{
  background-color: #ffffff;
}
#VerInput,#AdmInputEmail,#AdmInputPassword,#AdmAddCourse,#AdmAddPrereqs,#RecInput {
  field-sizing: content;
  background-color: #ffffff;
  min-width: 100px;
} 
#AdminMode {
  font-size: 0.7rem;
  color: var(--border);
  border: none;
  background: none;
  cursor: pointer;
}

#AdminMode:hover {
  color: var(--grey);
  background: none;
  box-shadow: none;
}
