#title{}
body{
  background-color: #a2aaad;
}
header{
  background-color: #881c1c;
}
#buttonarea{}
#VerifMode, #ReccomMode, #AdminMode{
  background-color: #ffffff;
}
#VerInput,#AdmInputEmail,#AdmInputPassword,#AdmAddCourse,#AdmAddPrereqs {
  field-sizing: content;
  background-color: #ffffff;
  min-width: 100px;
} 
